<!DOCTYPE html>
<html lang="en">
<%- include('partials/meta') %>
<body class="d-flex flex-column min-vh-100">
    <%- include('partials/header') %>
    <h1>This is a demo page!</h1>
    <p> Email: amukher1@svsu.edu</p>
    <%- include('partials/footer') %>
</body>
</html>