<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Express</title>
</head>
<body>
    <h1>Good 

         <% let h = new Date().getHours() %>
         <% if(h >= 12){ %>
            Afternoon
         <% } else { %>
            Morning
        <% } %>
        
    
        <%= locals.user %> </h1>

        <br>
        <ol>
            <%  for (let item of locals.todo){ %>
                <li><%= item %></li>
                <%  } %>

        </ol>
        

</body>
</html>